@mixin warning {
    background-color: orange;
    color: #fff;
}

@mixin google-font($font){
    $font:unquote($font);
    @import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin large-text {
    font: {
        size: 22px;
        weight: bold;
    }
}

@mixin rounded($radius:6px){
    border-radius: $radius #333;
}

@mixin box($radius:6px,$border:1px solid black){
    @include rounded($radius);
    border:$border;
}

@mixin fancy-links{
    a{
        font-style: italic;
        text-decoration: none;
    }
}

@mixin box-shadow($shadows...){
    box-shadow: $shadows;
    -mox-box-shadow:$shadows;
    -webkit-box-shadow:$shadows;
}